@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the Travel Logistics Organizer</h1>

<p>Please use the links in the navbar to interact with the different objects.</p>
<p>Working from top to bottom will ensure dependencies show up in the more connected pieces.</p>
<p>Only registered accounts are able to interact with these functions.</p>

